<p>
  <%= f.label :Nombre_de_la_Universidad %><br />
  <%= f.text_field :nombreUniversidad %>
</p>

<p>
  <%= f.label :Nombre_Estudiante_1 %><br />
  <%= f.text_field :nombreEstudiante1 %><br />
  <%= f.label :Matricula_Estudiante_1 %><br />
  <%= f.text_field :matriculaEstudiante1 %><br />
  <%= f.label "Email" %><br />
  <%= f.text_field :email1 %>
</p>

<p>
  <%= f.label :Nombre_Estudiante_2 %><br />
  <%= f.text_field :nombreEstudiante2 %><br />
   <%= f.label :Matricula_Estudiante_2 %><br />
  <%= f.text_field :matriculaEstudiante2 %><br />
  <%= f.label "Email" %><br />
  <%= f.text_field :email2 %>
</p>

<p>
  <%= f.label :Nombre_Estudiante_3 %><br />
  <%= f.text_field :nombreEsudiante3 %><br />
  <%= f.label :Matricula_Estudiante_3 %><br />
  <%= f.text_field :matriculaEstudiante3 %><br />
  <%= f.label "Email" %><br />
  <%= f.text_field :email3 %>
</p>