<div id="imgIzq">
        
        <img src="../img/logo.jpg" style="margin-left:17px; "/>
        <img src="../img/o.png" style="margin-left:20px; margin-top:95%;"/>
       
	
    </div>

<div id="content" style="left:300px; background-color:#000; padding:5px; width:500px; overflow:auto;">
          <h1 style=" color:#ffff00; ">Comprobar Datos</h1>

<p style="color:white;">
  <b>Nombre de la Universidad:</b>
  <%=h @estudiante.nombreUniversidad %>
</p>

<p style="color:white;">
  <b>Nombre del Estudiante 1:</b>
  <%=h @estudiante.nombreEstudiante1 %>
</p>

<p style="color:white;">
  <b>Matricula del Estudiante 1:</b>
  <%=h @estudiante.matriculaEstudiante1 %>
</p>

<p style="color:white;">
  <b>Nombre del Estudiante 2:</b>
  <%=h @estudiante.nombreEstudiante2 %>
</p>

<p style="color:white;">
  <b>Matricula del Estudiante 2:</b>
  <%=h @estudiante.matriculaEstudiante2 %>
</p>

<p style="color:white;">
  <b>Nombre del Estudiante 3:</b>
  <%=h @estudiante.nombreEsudiante3 %>
</p>





<p style="color:white;">
  <b>Matricula del Estudiante 3:</b>
  <%=h @estudiante.matriculaEstudiante3 %>
</p>


<%= link_to '', edit_estudiante_path(@estudiante),{:id => "boton_editar"}  %>

<p style="top:20px;">
  <a style="color:white;">Forma de Pago:
  </a>
  
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blanck">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="X5WPZGP855BH8">
		<input type="image" src="https://www.paypal.com/es_XC/i/btn/btn_xpressCheckout.gif" border="0" name="submit" alt="PayPal. La forma r‡pida y segura de pagar en Internet.">
		<img alt="" border="0" src="https://www.paypal.com/es_XC/i/scr/pixel.gif" width="1" height="1">
	</form>
      <br/>
	<form action="https://mexico.dineromail.com/Shop/Shop_Ingreso.asp"
  method="post" target="_blank"> <input type="hidden" name="NombreItem"
  value="Inscripcion a Alarido Social Media Contest (Estudiante)">
  <input type="hidden" name="TipoMoneda" value="1"> <input type="hidden"
  name="PrecioItem" value="350.00"> <input type="hidden"
  name="E_Comercio" value="240347"> <input type="hidden" name="NroItem"
  value="-"> <input type="hidden" name="image_url"
  value="http://www.anpa.com.mx/images/patrocinadores/daixe.jpg"> <input
  type="hidden" name="DireccionExito" value="http://"> <input
  type="hidden" name="DireccionFracaso" value="http://"> <input
  type="hidden" name="DireccionEnvio" value="0"> <input type="hidden"
  name="Mensaje" value="1"> <input type='hidden' name='MediosPago'
  value='4,5,6,17,13,14,18,2,7'><input type="image"
  src="https://mexico.dineromail.com/imagenes/vender/boton/pagar01.gif"
  border="0" name="submit" alt="Pagar con DineroMail"></form>

  
</p>
<p style="color:white; font-size:10pt; margin-left:180px; margin-top:-100px;">o haz un dep&oacute;sito a:<br/>
          <p style="color:white;font-size:9pt; margin-left:190px; margin-top:-5px; ">Banco: Banamex<br/>
          Nombre: Grupo Daixe SC<br/>
          Sucursal: 4495<br/>
          Cuenta: 139223<br/>
          CLABE: 002225449501392237</p>
  </p>
<br/>
<p style="background-image:url(../img/cuadros/amarillo.png); width:450px; margin-left:25px; color:white; padding:5px; font-size:10pt;">
  
  &laquo; * Nota importante: se requiere necesariamente la comprobaci&oacute;n del pago para reafirmar el equipo inscrito,
  en caso contrario el equipo quedar&aacute; descalificado. &raquo;

</p>
<%= link_to "", {:controller=>'publicos', :action=>'index'}, {:id => "boton_aceptar"} %>

</div>
