<p>
  <%= f.label :Nombre_Empresa %><br />
  <%= f.text_field :nombreEmpresa %>
</p>
<p>
  <%= f.label :Nombre_Integrante_1 %><br />
  <%= f.text_field :nombreIntegrante1 %>
</p>
<p>
  <%= f.label :Nombre_Integrante_2 %><br />
  <%= f.text_field :nombreIntegrante2 %>
</p>
<p>
  <%= f.label :Nombre_Integrante_3 %><br />
  <%= f.text_field :nombreIntegrante3 %>
</p>
<p>
  <%= f.label :logotipo %><br />
	<%= f.file_field :photo %>
</p>